.favorites-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  .favorites-list__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: clamp(300px, 40%, 400px);
    margin: 0;
    padding: 0;

    p {
      font-size: 1.1rem;
      margin: 0;
      padding: 1rem 0.5rem;
    }
  }
}
