.header {
  background-color: $color1;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;

  .header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 70%;

    @media (max-width: $mobile) {
      flex-direction: column;
    }

    h1 {
      margin: 0;
      color: $color2;
    }

    .header-nav {
      display: flex;
      justify-content: space-between;

      .header-nav__item {
        margin: 0 0.5rem;
        color: $color3;
        text-decoration: none;

        &.active,
        &:hover {
          text-decoration: underline;
          color: darken($color4, 20);
        }
      }
    }
  }
}
